<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Inserir</servlet-name>
        <servlet-class>controller.Inserir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>controller.Pesquisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>controller.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Atualizar</servlet-name>
        <servlet-class>controller.Atualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir</servlet-name>
        <servlet-class>controller.Excluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>controller.Listar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inserir</servlet-name>
        <url-pattern>/Inserir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisar</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Atualizar</servlet-name>
        <url-pattern>/Atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir</servlet-name>
        <url-pattern>/Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
</web-app>
